@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body {
   background-color: #15202b;
}

.ReactModal__Overlay {
   background: rgba(0, 0, 0, 0.6) !important;
}

.ReactModal__Content {
   height: 100%;
   width: 640px;
   margin: 0 auto;
   padding: 0 !important;
   top: 0 !important;
   left: unset !important;
   right: 0 !important;
}

@media (max-width: 768px) {
   .ReactModal__Content {
      width: 100%;
   }
}
